.commentBox {
  display: flex;
  margin-top: 20px;
  width: 100%;
}

.commentBox input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid lightgray;
  margin-left: 10px;
  width: 100%;
}

.commentBox Button {
  margin-left: 93% !important;
  border-radius: 20px !important;
  width: 120px !important;
}

.commentBox Button:hover {
  background-color: aqua !important;
}