.commentBox {
  display: flex;
  margin-top: 40px;
  width: 100%;
  margin-left: 0px;
}

.commentBox input {
  margin-left: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid lightgray;
  /*   */
  width: 100%;
}

.comment-side Button {
  margin-left: 85% !important;
  border-radius: 15px !important;
  width: 120px !important;
  margin-top: 5px;
}

.comment-side hr {
  margin-top: 40px;
  border-top: 1px solid #e1e5ea;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.comment-side Button:hover {
  background-color: #DFDDDD !important;
}

.comment-side input::placeholder {
  font-size: medium;
}