.blogItem-wrap {
  display: flex;
  flex-direction: column;
  min-width: 275px;
  max-width: 310px;
  height: 430px;
  justify-content: center;
}

.blogItem-cover {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}



.blogItem-wrap h3 {
  margin: 10px 0 0rem 0;
  flex: 0.7;
}

.blogItem-desc {
  position: relative;
  max-height: 50px;
  overflow: hidden;
  padding-right: 0.6rem;
  font-size: 0.8rem;
  color: #a9a9a9;
}

.blogItem-desc::before {
  position: absolute;
  content: '...';
  bottom: 0;
  right: 0;
}

.blogItem-createdAt {
  color: #a9a9a9;
  font-size: 11px;
  z-index: 1;
  margin-top: 5px;
}

.blogItem-link {
  text-decoration: none;
  color: inherit;
}

.blogItem-image-container {
  height: 250px;
}