.footer {
    width: 100%;
    height: 480px;
    margin-top: 70px;

}

.footer>.info {
    min-height: 400px;
    width: 100%;
    background-color: #212529;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-items: center;
}

.footer>.copyrights {
    height: 80px;
    width: 100%;
    background-color: #343A40;
}

.footer-card {
    margin: 70px auto auto 40px;
    width: 170px;
}

.footer-card b {
    color: white;
}

.footer-card p {
    color: gray;
    margin-top: 10px;
}

.copyrights b {
    color: white;
    margin-left: 10px;
}

.copyrights p {
    margin: auto 10px auto auto;
    color: #E5E5E5;
}

.copyrights {
    display: flex;
    align-items: center;
}

@media (max-width: 1207px) {
    .blogList-wrap {
        grid-template-columns: repeat(3, 1fr);
    }
}