.chip {
  z-index: 1;
  position: relative;
  color: white;
  height: fit-content;
  font-size: 11px;
  background: rgba(255, 255, 255, 0.2);
  width: fit-content;
  padding: 5px;
  margin: 1em 1em 0em auto;
  border-radius: 8px;
}

.right-top {
  margin: 1em 1em 0em auto;
}

.middle {
  margin: auto auto 30px auto;
}